img {
    width: 200px;
}

h2 {
    color:#328da8;
    font-family: 'Grape Nuts', cursive;
}

body {
    background-color: #67b6c9;
}

body {
    text-align: center;
    font-family: 'Grape Nuts', cursive;
}



.text {
    color: yellow;
}